body{
	font-family: 'Source Sans Pro', sans-serif;
}
h1 img{
	width: 50px;
}
/* BREAKPOINT 1*/
@media (min-width: 20em){
	body{
		background-color: #F5F5F6; 
		max-width: 40em;
		margin: 0 auto;
	}
	h1{
		align-content: center;
	}
	h1 img{
		max-width: 10em;
	}	
	header{
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	h2{
		display: flex;
		justify-content: center;
		align-items: center;
		border-color: red;
		background: url(wallpaper1.jpg);
		padding-top: 75px;
		padding-bottom: 75px;
		color: white;
	}
	h3{
		display: flex;
		justify-content: center;
		align-items: center;
		border-color: red;
	}
	article{
   		background-color: #fff;
    	box-shadow: 1px 1px 18px gray;
    	padding-left: 15px;
    	padding-right: 15px;
    	margin-left: 15px;
    	margin-right: 15px;
    	max-width: 400px;
    	display:flex;
    	flex-direction:column;
    	justify-content: center;
	}
	main{
		align-content: center;
	}
	main button{
		background-color: #F5F5F6;
		border:none;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		font-size: 16px;
		margin: 4px 2px;
		color: #0E447E;
		max-width: 20em;
		display: flex;
	}

	form {

	}
	a{
		display: flex;
		flex-direction: column;
	}
	form button{
		width: 50px;
		padding: 10px;
		background-color: red;
		color: white;
		cursor: pointer;
		margin-top: 2em;
		margin-right: 12px;
	}
}

/* BREAKPOINT 2*/
@media (min-width: 70em){
		body{
		background-color: gold;
		max-width: 100%;
	}
	header{
		display: inline;
	}
	section{
		background-color: white;
	}

	section button{
		width: 45%;
		background-color: #F5F5F6;
		border:none;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		font-size: 16px;
		margin: 4px 2px;
		color: #0E447E;
	}
}
