*{
  box-sizing: border-box;
}
/* positioning content */
body {
  margin: 0em;
  background-color: #f5f5f6;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

/* header */
header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 3em;
}

ul{
  display: flex;
  justify-content: space-between;
}

li{
  list-style: none;
  margin-right: 2em;
  text-align: center;
}

h1{
  margin-left: 1em;
  text-align: center;
}

footer{
  margin: .4em;
}

/* main content */
main{
  display: flex;
  flex-direction: column;
}

h2{
  margin-left: 1.5em;
  margin-bottom: 1em;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: .5em;
  background-color: white;
  width: 85%;
  margin-bottom: 3em;
}

div{

}

img{
  max-width: 100%;
}


/* Breakpoint 1 */
@media (min-width: 40em) {
  body{
    background-color: red;
  }

}
